.autoCompleteInputCon{
  position: relative;
}
.autoCompleteInputCon input{
    max-width: 100%;
    width: 100%;
    padding: 0.5em 0;
}
.autoCompleteInputCon input:focus{
    outline: none;
}
.autoCompleteInputCon .suggestionCon{
    position: absolute;
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 6px 0px #ccc;
    background: #fff
}

.autoCompleteInputCon .suggestionCon .listItem{
  padding: 5px;
  cursor: pointer;
  text-align: start;
}
.autoCompleteInputCon .suggestionCon .listItem:hover{
   background-color: #D7D7D7
}